box{
    width: 260px;
    margin: 0px auto;
    padding: 3px 20px;
    background-color: #fc0;
}
box title,
box meaning{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
box title{
    font-size: 25px;
    font-weight: bold;
}
box meaning{
    font-size: 22px;
}